* {
    margin: 0;
    padding: 0;
    outline: none;
}

h1 {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: -25px 0 0 0;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
}