@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
* {
  outline: none; }

body {
  background: #fff;
  line-height: 17px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5c5c5c; }

p {
  margin: 0 0 17px 0; }

img {
  max-width: 100%;
  vertical-align: top; }

a {
  transition: background 0.8s, color 0.8s;
  text-decoration: none;
  color: #ff0000; }
  a:hover {
    transition: background 0.4s, color 0.4s;
    text-decoration: none;
    color: #000; }

#site {
  overflow: hidden;
  padding: 0 15px; }

.wrapper {
  max-width: 1272px;
  margin: 0 auto; }

.clearfix:after {
  display: block;
  clear: both;
  content: ''; }

.position-left {
  float: left;
  max-width: 50%;
  padding: 0 15px 0 0; }
  @media (max-width: 480px) {
    .position-left {
      float: none;
      max-width: 100%;
      padding: 0; } }

.position-right {
  float: right;
  max-width: 50%;
  padding: 0 0 0 15px;
  text-align: right; }
  @media (max-width: 480px) {
    .position-right {
      float: none;
      max-width: 100%;
      padding: 0;
      text-align: center; } }

.site-header {
  margin: 0 0 20px 0; }

.header-top {
  padding: 5px 0 3px 0;
  border-bottom: 1px solid #e5e5e5; }
  @media (max-width: 480px) {
    .header-top {
      padding: 10px 15px;
      text-align: center; } }

.social {
  margin: 0 0 0 57px; }
  @media (max-width: 1200px) {
    .social {
      margin: 0; } }
  @media (max-width: 480px) {
    .social {
      margin: 0 0 1px 0; } }
  .social__item {
    display: inline-block;
    margin: 0 0 0 8px;
    vertical-align: top;
    line-height: 30px;
    font-size: 20px;
    color: #909090; }
  .social__item:first-child {
    margin: 0; }
  .social__item a {
    color: #909090; }
  .social__item a:hover {
    color: #000; }

.authorization {
  margin: 0 62px 0 0;
  padding: 2px 0 0 0; }
  @media (max-width: 1200px) {
    .authorization {
      margin: 0; } }
  @media (max-width: 480px) {
    .authorization {
      padding: 0; } }
  .authorization__item {
    position: relative;
    float: left;
    margin: 0 0 0 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #909090; }
    @media (max-width: 480px) {
      .authorization__item {
        display: inline-block;
        float: none;
        vertical-align: top; } }
  .authorization__item:before {
    position: absolute;
    top: 0;
    left: -9px;
    content: '/'; }
  .authorization__item:first-child:before {
    left: -24px;
    line-height: 24px;
    font-family: FontAwesome;
    font-size: 18px;
    font-weight: 400;
    content: '\f007'; }
  .authorization__item a {
    color: inherit; }
  .authorization__item a:hover {
    color: #000; }

.header-middle {
  padding: 17px 0 10px 0;
  text-align: center; }
  @media (max-width: 767px) {
    .header-middle {
      padding: 15px 0; } }
  .header-middle .search-form {
    margin: 13px 0 0 0; }

.logo {
  float: left;
  margin: 0 0 0 53px;
  font-family: 'Roboto', sans-serif;
  text-align: left; }
  @media (max-width: 1200px) {
    .logo {
      margin: 0; } }
  @media (max-width: 480px) {
    .logo {
      display: inline-block;
      float: none;
      margin: 0 15px;
      vertical-align: top; } }
  .logo__image {
    float: left;
    margin: 0 6px 0 0; }
  .logo__title {
    float: left;
    margin: 0 0 -3px 0;
    padding: 10px 0 0 0;
    letter-spacing: 0.3px;
    line-height: 24px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000; }
    @media (max-width: 480px) {
      .logo__title {
        font-size: 20px; } }
  .logo__description {
    letter-spacing: 0.6px;
    line-height: 19px;
    font-size: 19px;
    color: #bababa; }
    @media (max-width: 480px) {
      .logo__description {
        font-size: 15px; } }

.search-form {
  display: inline-block;
  overflow: hidden;
  vertical-align: top; }
  @media (max-width: 767px) {
    .search-form {
      display: block;
      padding: 10px 0 0 0;
      clear: both;
      text-align: center; } }
  @media (max-width: 480px) {
    .search-form {
      margin: 0;
      padding: 0; } }
  .search-form input[type="search"] {
    background: #f2f2f2;
    float: left;
    min-width: 304px;
    min-height: 37px;
    margin: 0;
    padding: 5px 14px 5px 14px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #d0d0d0; }
    @media (max-width: 991px) {
      .search-form input[type="search"] {
        min-width: 1px;
        max-width: 150px; } }
    @media (max-width: 767px) {
      .search-form input[type="search"] {
        float: none;
        vertical-align: top; } }
  .search-form input[type="search"]::-webkit-input-placeholder {
    color: #d0d0d0; }
  .search-form input[type="search"]:-moz-placeholder {
    opacity: 1;
    color: #d0d0d0; }
  .search-form input[type="search"]::-moz-placeholder {
    opacity: 1;
    color: #d0d0d0; }
  .search-form input[type="search"]:-ms-input-placeholder {
    color: #d0d0d0; }
  .search-form button[type="submit"] {
    background: #ff0000;
    position: relative;
    width: 71px;
    height: 37px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    vertical-align: top;
    transition: background 0.8s;
    line-height: 0;
    font-size: 0;
    cursor: pointer; }
  .search-form button[type="submit"]:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 37px;
    font-family: FontAwesome;
    font-size: 23px;
    text-align: center;
    color: #fff;
    content: '\f002'; }
  .search-form button[type="submit"]:hover {
    background: #909090;
    transition: background 0.4s; }

.shopping-basket {
  position: relative;
  float: right;
  margin: 14px 85px 0 0;
  padding: 0 0 0 60px;
  letter-spacing: -0.5px;
  font-weight: 700;
  text-align: left;
  color: #000; }
  @media (max-width: 1200px) {
    .shopping-basket {
      margin-right: 0; } }
  @media (max-width: 480px) {
    .shopping-basket {
      display: inline-block;
      float: none;
      margin: 0 15px 20px 15px;
      vertical-align: top; } }
  .shopping-basket:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 35px;
    font-size: 35px;
    font-family: FontAwesome;
    font-weight: 400;
    color: #ff0000;
    content: '\f291'; }
  .shopping-basket__title {
    margin: 0 0 -3px 0;
    text-transform: uppercase; }

.header-bottom {
  background: #ff0000;
  padding: 3px 15px 3px 15px; }
  @media (max-width: 991px) {
    .header-bottom {
      padding-right: 0;
      padding-left: 0; } }
  @media (max-width: 600px) {
    .header-bottom {
      background: none;
      padding: 0; } }

#site-navigation .menu-toggle {
  display: none; }
  @media (max-width: 600px) {
    #site-navigation .menu-toggle {
      background: #ff0000;
      display: block;
      width: 100%;
      margin: 0;
      padding: 7px 15px;
      border: none;
      border-radius: 0;
      box-shadow: none;
      transition: background 0.8s;
      line-height: 20px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      color: #fff; } }
  @media (max-width: 600px) {
    #site-navigation .menu-toggle:before {
      font-family: FontAwesome;
      margin: 0 9px 0 0;
      font-size: 14px;
      content: '\f0c9'; } }
#site-navigation ul {
  line-height: 0;
  font-size: 0; }
  @media (max-width: 600px) {
    #site-navigation ul {
      display: none; } }
  #site-navigation ul li {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    border-left: 1px solid #fff;
    vertical-align: top;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #fff; }
    @media (max-width: 600px) {
      #site-navigation ul li {
        display: block;
        width: 100%;
        margin: 1px 0 0 0;
        border: none;
        line-height: 20px;
        font-size: 14px; } }
    #site-navigation ul li:first-child {
      border-left: none; }
    #site-navigation ul li a {
      display: block;
      padding: 9px 10px;
      color: inherit; }
      @media (max-width: 600px) {
        #site-navigation ul li a {
          background: #909090;
          padding: 5px 10px;
          color: #fff; } }
      #site-navigation ul li a:hover {
        color: #000; }
        @media (max-width: 600px) {
          #site-navigation ul li a:hover {
            background: #000;
            color: #fff; } }

.owl-carousel {
  max-width: 1200px;
  margin: 0 auto; }
  .owl-carousel .caption {
    display: table-cell;
    position: absolute;
    top: 0;
    right: 200px;
    bottom: 0;
    left: 615px;
    vertical-align: middle; }
    @media (max-width: 1200px) {
      .owl-carousel .caption {
        right: 100px;
        left: 500px; } }
    @media (max-width: 991px) {
      .owl-carousel .caption {
        right: 50px;
        left: 40%; } }
    .owl-carousel .caption .indent {
      display: inline-block;
      vertical-align: middle; }
    .owl-carousel .caption .auxiliary {
      display: inline-block;
      vertical-align: middle;
      width: 0px;
      height: 100%; }
    .owl-carousel .caption h2 {
      margin: 0 0 6px 0;
      line-height: 40px;
      font-size: 40px;
      font-weight: 400;
      color: #636363; }
      @media (max-width: 991px) {
        .owl-carousel .caption h2 {
          line-height: 35px;
          font-size: 35px; } }
      @media (max-width: 767px) {
        .owl-carousel .caption h2 {
          line-height: 20px;
          font-size: 20px; } }
      @media (max-width: 480px) {
        .owl-carousel .caption h2 {
          maring: 0 0 15px 0;
          line-height: 15px;
          font-size: 15px; } }
    .owl-carousel .caption h3 {
      margin: 0 0 6px 0;
      line-height: 18px;
      font-size: 18px;
      text-transform: uppercase;
      color: #ff0000; }
      @media (max-width: 767px) {
        .owl-carousel .caption h3 {
          margin: 0 0 15px 0;
          line-height: 15px;
          font-size: 15px;
          text-transform: none; } }
      @media (max-width: 480px) {
        .owl-carousel .caption h3 {
          display: none; } }
    .owl-carousel .caption p {
      margin: 0 0 18px 0;
      color: #000; }
      @media (max-width: 767px) {
        .owl-carousel .caption p {
          display: none; } }
  .owl-carousel .owl-prev {
    position: absolute;
    top: 50%;
    left: 15px;
    height: 74px;
    margin: -37px 0 0 0;
    transition: color 0.8s;
    line-height: 0;
    font-size: 0;
    color: #909090; }
    @media (max-width: 767px) {
      .owl-carousel .owl-prev {
        left: 0; } }
    @media (max-width: 480px) {
      .owl-carousel .owl-prev {
        height: 40px;
        margin: -20px 0 0 0; } }
    .owl-carousel .owl-prev:hover {
      transition: color 0.4s;
      color: #000; }
    .owl-carousel .owl-prev:before {
      display: block;
      line-height: 74px;
      font-family: FontAwesome;
      font-size: 74px;
      content: '\f104'; }
      @media (max-width: 480px) {
        .owl-carousel .owl-prev:before {
          line-height: 40px;
          font-size: 40px; } }
  .owl-carousel .owl-next {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 74px;
    margin: -37px 0 0 0;
    transition: color 0.8s;
    line-height: 0;
    font-size: 0;
    color: #909090; }
    @media (max-width: 767px) {
      .owl-carousel .owl-next {
        right: 0; } }
    @media (max-width: 480px) {
      .owl-carousel .owl-next {
        height: 40px;
        margin: -20px 0 0 0; } }
    .owl-carousel .owl-next:hover {
      transition: color 0.4s;
      color: #000; }
    .owl-carousel .owl-next:before {
      display: block;
      line-height: 74px;
      font-family: FontAwesome;
      font-size: 74px;
      content: '\f105'; }
      @media (max-width: 480px) {
        .owl-carousel .owl-next:before {
          line-height: 40px;
          font-size: 40px; } }

.btn {
  display: inline-block;
  margin: 0;
  padding: 8px 13px 12px 13px;
  vertical-align: top;
  border: 1px solid #ff0000;
  line-height: 27px;
  font-size: 20px;
  color: #000; }
  @media (max-width: 767px) {
    .btn {
      padding: 6px 13px 10px 13px;
      line-height: 20px;
      font-size: 16px; } }
  @media (max-width: 480px) {
    .btn {
      padding: 4px 10px 8px 10px;
      line-height: 16px;
      font-size: 13px; } }
  .btn:hover {
    background: #ff0000;
    color: #fff; }

.site-content {
  padding: 20px 0 19px 0; }
  .site-content .wrapper {
    max-width: 1200px; }

.columns-3 {
  margin: 0 -15px; }
  @media (max-width: 767px) {
    .columns-3 {
      margin: 0; } }
  .columns-3 .column {
    float: left;
    width: 33.3333%;
    padding: 0 15px;
    box-sizing: border-box; }
    @media (max-width: 767px) {
      .columns-3 .column {
        float: none;
        width: 100%;
        padding: 0; } }

.banner {
  background: #ff0000;
  position: relative;
  margin: 0 0 27px 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #fff;
  z-index: 9; }
  @media (max-width: 767px) {
    .banner {
      margin: 0 0 15px 0; } }
  .banner a {
    display: block;
    padding: 14px 15px 27px 15px;
    color: inherit; }
  .banner a:before {
    background: #000;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    transition: top 0.8s;
    z-index: -1;
    content: ''; }
  .banner a:hover:before {
    top: 0;
    transition: top 0.4s; }
  .banner a:hover .banner__link:before {
    right: 100%;
    transition: right 0.4s; }
  .banner__title {
    margin: 0 0 8px 0;
    line-height: 35px;
    font-size: 30px; }
  .banner__content {
    margin: 0 0 12px 0;
    line-height: 16px;
    font-size: 15px; }
  .banner__content span {
    display: block; }
    @media (max-width: 991px) {
      .banner__content span {
        display: inline; } }
    @media (max-width: 767px) {
      .banner__content span {
        display: block; } }
  .banner__link {
    display: inline-block;
    position: relative;
    vertical-align: top;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-size: 20px; }
  .banner__link:before {
    background: #fff;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    opacity: 0.7;
    overflow: hidden;
    transition: right 0.8s;
    content: ''; }

.sale {
  margin: 0 -6px;
  line-height: 0;
  font-size: 0; }
  .sale__item {
    display: inline-block;
    position: relative;
    width: 25%;
    margin: 0 0 13px 0;
    padding: 0 6px;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; }
    @media (max-width: 767px) {
      .sale__item {
        width: 50%; } }
    @media (max-width: 480px) {
      .sale__item {
        width: 100%; } }
    .sale__item div {
      margin: 0 45px 0 0;
      padding: 14px 14px 16px 14px;
      border: 1px solid #e5e5e5; }
    .sale__item figure {
      margin: 0 0 15px 0; }
      .sale__item figure a:hover img {
        opacity: 0.5;
        transition: opacity 0.4s; }
      .sale__item figure a img {
        transition: opacity 0.8s; }
    .sale__item h2 {
      margin: 0 0 2px 0;
      line-height: 30px;
      font-size: 19px;
      font-weight: 400;
      color: #5c5c5c; }
      @media (max-width: 991px) {
        .sale__item h2 {
          line-height: 21px;
          font-size: 17px;
          color: #000; } }
      .sale__item h2 a {
        color: inherit; }
        .sale__item h2 a:hover {
          color: #ff0000; }
    .sale__item p {
      margin: 0 0 7px 0;
      padding: 0;
      letter-spacing: 0.1px;
      line-height: 15px;
      font-size: 12px; }
      @media (min-width: 1200px) {
        .sale__item p {
          padding-right: 40px; } }
    .sale__item span {
      display: block;
      line-height: 21px;
      font-size: 21px;
      color: #ff0000; }
    .sale__item .basket {
      position: absolute;
      top: 0;
      right: 6px;
      width: 44px;
      height: 44px;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      font-style: normal; }
      .sale__item .basket a {
        display: block;
        color: #ff0000; }
        .sale__item .basket a:hover {
          color: #000; }
        .sale__item .basket a:before {
          display: block;
          line-height: 42px;
          font-family: FontAwesome;
          font-size: 27px;
          text-align: center;
          content: '\f291'; }
    .sale__item .info {
      position: absolute;
      top: 45px;
      right: 6px;
      width: 44px;
      height: 44px;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      font-style: normal; }
      .sale__item .info a {
        display: block;
        color: #909090; }
        .sale__item .info a:hover {
          color: #000; }
        .sale__item .info a:before {
          display: block;
          line-height: 42px;
          font-family: FontAwesome;
          font-size: 20px;
          text-align: center;
          content: '\f129'; }

.site-footer {
  font-family: 'Roboto', sans-serif;
  color: #fff; }
  .site-footer .wrapper {
    background: #1e1e1e;
    padding: 13px 0 47px 0; }
    @media (max-width: 767px) {
      .site-footer .wrapper {
        margin: 0 -15px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-left: 15px; } }

.footer-top {
  padding: 0 35px 31px 35px; }
  @media (max-width: 767px) {
    .footer-top {
      padding: 0; } }
  .footer-top .column {
    float: left;
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box; }
    @media (max-width: 767px) {
      .footer-top .column {
        float: none;
        width: 100%;
        padding: 0; } }
    .footer-top .column:first-child .widget h2:before {
      left: -50px; }
      @media (max-width: 767px) {
        .footer-top .column:first-child .widget h2:before {
          left: -15px; } }
    .footer-top .column:last-child .widget h2:before {
      right: -50px; }
      @media (max-width: 767px) {
        .footer-top .column:last-child .widget h2:before {
          right: -15px; } }

@media (max-width: 767px) {
  .widget {
    margin: 0 0 30px 0; } }
.widget h2 {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 16px 0;
  line-height: 30px;
  font-size: 22px;
  color: #fff; }
  .widget h2:before {
    background: #fff;
    display: block;
    position: absolute;
    right: -15px;
    bottom: 0;
    left: -15px;
    height: 1px;
    overflow: hidden;
    content: ''; }

ul.list li {
  margin: 12px 0 0 0;
  line-height: 24px;
  font-size: 16px;
  color: #fff; }
  ul.list li:first-child {
    margin: 0; }
  ul.list li a {
    color: inherit; }
    ul.list li a:hover {
      color: #ff0000; }

.social-block {
  margin: 0 0 37px 0;
  padding: 6px 0 0 0; }
  .social-block__item {
    display: inline-block;
    margin: 0 0 0 47px;
    vertical-align: top;
    line-height: 45px;
    font-size: 45px;
    color: #fff; }
    @media (max-width: 1200px) {
      .social-block__item {
        margin: 0 0 0 27px; } }
    @media (max-width: 991px) {
      .social-block__item {
        margin: 0 0 0 15px;
        line-height: 25px;
        font-size: 25px; } }
  .social-block__item:first-child {
    margin: 0; }
  .social-block__item a {
    color: inherit; }
  .social-block__item a:hover {
    color: #ff0000; }

.phone {
  display: block;
  margin: 0 0 18px 0;
  line-height: 30px;
  font-size: 28px; }
  @media (max-width: 1200px) {
    .phone {
      line-height: 22px;
      font-size: 20px; } }
  @media (max-width: 991px) {
    .phone {
      margin: 0 0 9px 0;
      line-height: 17px;
      font-size: 15px; } }

.footer-bottom {
  padding: 0 35px;
  line-height: 16px;
  font-size: 10px;
  text-align: center;
  color: #fff; }
  .footer-bottom p {
    margin: 0; }
  .footer-bottom a {
    color: inherit; }
    .footer-bottom a:hover {
      color: #ff0000; }

/*# sourceMappingURL=style.css.map */
