





<footer class="site-footer">
    <div class="wrapper">



        <div class="footer-top">

            <div class="block">
                <section class="widget">
                    <h2>Меню</h2>
                    <div class="widget__content">
                        <ul class="list">
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                        </ul>
                    </div>
                </section>
            </div>

            <div class="block">
                <section class="widget">
                    <h2>Каталог</h2>
                    <div class="widget__content">
                        <ul class="list">
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                        </ul>
                    </div>
                </section>
            </div>

            <div class="block">
                <section class="widget">
                    <h2>Блог</h2>
                    <div class="widget__content">
                        <ul class="list">
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                            <li><a href="#">какая-то ссылка</a></li>
                        </ul>
                    </div>
                </section>
            </div>

            <div class="block">
                <section class="widget">
                    <h2>Контакты</h2>
                    <div class="widget__content">
                        <span class="info">Телефон: +7(915)458-75-65</span>
                        <span class="info">Факс: +7(915)458-75-65</span>
                        <span class="info">E-mail: <a href="#">mail@labuten.com</a></span>
                        <ul class="social-block">
                            <li class="social-block__item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-block__item"><a href="#"><i class="fa fa-vk"></i></a></li>
                            <li class="social-block__item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </section>
            </div>

        </div>



        <div class="footer-bottom">

            <div class="block">
                <p class="copyright"><a href="#">nalabuten.ah</a> 2016</p>
            </div>

            <div class="block">
                <img src="img/counter.jpg" alt="">
            </div>

        </div>



    </div>
</footer>






</div>

<script src="js/jquery.js"></script>
<script src="js/jquery-migrate-1.2.1.js"></script>
<script src="js/custom.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            items: 1,
            nav: true
        });
    });
</script>

</body>
</html>