<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://yui-s.yahooapis.com/2.9.0/build/reset/reset-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="site">






    <header class="site-header">



        <div class="header-top">
            <div class="wrapper">

                <div class="block">
                    <ul class="social">
                        <li class="social__item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="social__item"><a href="#"><i class="fa fa-vk"></i></a></li>
                        <li class="social__item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="block">
                    <ul class="authorization clearfix">
                        <li class="authorization__item"><a href="#">вход</a></li>
                        <li class="authorization__item"><a href="#">регистрация</a></li>
                    </ul>
                </div>

            </div>
        </div>



        <div class="header-middle">
            <div class="wrapper">

                <div class="block">
                    <div class="logo">
                        <a href="#">
                            <figure class="logo__image">
                                <img src="img/logo.png" alt="">
                            </figure>
                            <div class="logo__title">
                                NALABUTEN.AH
                            </div>
                            <p class="logo__description">
                                unrealizable dreams
                            </p>
                        </a>
                    </div>
                </div>

                <div class="block">
                    <form class="search-form" method="get">
                        <input type="search" placeholder="поиск">
                        <button type="submit">Отправить</button>
                    </form>
                </div>

                <div class="block">
                    <a href="#" class="shopping-basket">
                        <span class="shopping-basket__title">Корзина</span>
                        <span class="shopping-basket__content">покупок 0</span>
                    </a>
                </div>

            </div>
        </div>



        <div class="header-bottom">
            <div class="wrapper">

                <nav id="site-navigation">
                    <button class="menu-toggle">Навигация</button>
                    <ul>
                        <li><a href="#">Каталог</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Блог</a></li>
                    </ul>
                </nav>

            </div>
        </div>



    </header>





